# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Binary files
*.so binary
*.nnue binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.bmp binary
*.webp binary
*.mp3 binary
*.jks binary
*.keystore binary
